colorama==0.4.6
pillow==11.1.0
soupsieve==2.5
more-itertools==10.6.0
jsonpatch==1.33
pkgutil_resolve_name==1.3.10
matplotlib==3.10.0
pkginfo==1.12.0
packaging==24.2
future-fstrings==1.2.0
menuinst==2.2.0
click==8.1.8
fonttools==4.55.4
absl-py==2.1.0
numpy==2.2.2
referencing==0.36.1
distro==1.9.0
importlib_metadata==8.6.1
zstandard==0.23.0
opencv-python-headless==4.10.0
h2==4.1.0
fsspec==2024.12.0
urllib3==2.3.0
smmap==5.0.0
pyparsing==3.2.1
charset-normalizer==3.4.1
casadi==3.6.7
etils==1.10.0
ruamel.yaml.clib==0.2.8
jsonpointer==3.0.0
PySocks==1.7.1
PySide6==6.8.1
conda==25.1.0
shiboken6==6.8.1
pip==24.2
jsonschema-specifications==2024.10.1
hyperframe==6.1.0
conda_index==0.5.0
PyOpenGL==3.1.6
pluggy==1.5.0
conda-package-handling==2.4.0
gitdb==4.0.12
scipy==1.15.1
filelock==3.17.0
platformdirs==4.3.6
kiwisolver==1.4.8
chardet==5.2.0
typeguard==4.4.1
pycparser==2.22
Brotli==1.1.0
typing_extensions==4.12.2
setuptools==75.1.0
jsonschema==4.23.0
munkres==1.1.4
importlib_resources==6.5.2
truststore==0.10.0
GitPython==3.1.44
glfw==2.8.0
tornado==6.4.2
rpds-py==0.22.3
psutil==6.1.1
certifi==2024.12.14
cffi==1.17.1
conda-build==25.1.1
python-dateutil==2.9.0.post0
cycler==0.12.1
pycosat==0.6.6
PyYAML==6.0.2
unicodedata2==16.0.0
boltons==24.0.0
Jinja2==3.1.5
conda-libmamba-solver==25.1.0
mujoco==3.2.7
libmambapy==2.0.5
attrs==24.3.0
six==1.17.0
tqdm==4.67.1
zipp==3.21.0
beautifulsoup4==4.12.3
ruamel.yaml==0.18.10
MarkupSafe==3.0.2
frozendict==2.4.6
robot_descriptions==1.14.0
requests==2.32.3
opencv-python==4.10.0
archspec==0.2.5
pytz==2024.2
contourpy==1.3.1
wheel==0.44.0
libarchive-c==5.1
hpack==4.1.0
idna==3.10
lief==0.14.1
conda_package_streaming==0.11.0
mpmath==1.3.0
cloudpickle==3.1.1
nvidia-cudnn-cu11==9.1.0.70
nvidia-nvtx-cu11==11.8.86
nvidia-cuda-cupti-cu11==11.8.87
antlr4-python3-runtime==4.9.3
hydra-submitit-launcher==1.2.0
sympy==1.13.1
nvidia-cusolver-cu11==11.4.1.48
submitit==1.5.2
nvidia-cuda-nvrtc-cu11==11.8.89
pydantic_core==2.27.2
torch==2.6.0+cu118
nvidia-cusparse-cu11==11.7.5.86
pydantic==2.10.6
protobuf==5.29.3
triton==3.2.0
wandb==0.19.5
annotated-types==0.7.0
hydra-core==1.3.2
torchvision==0.21.0+cu118
nvidia-cufft-cu11==10.9.0.58
sentry-sdk==2.20.0
nvidia-nccl-cu11==2.21.5
nvidia-curand-cu11==10.3.0.86
nvidia-cuda-runtime-cu11==11.8.89
h5py==3.12.1
setproctitle==1.3.4
nvidia-cublas-cu11==11.11.3.6
omegaconf==2.3.0
docker-pycreds==0.4.0
networkx==3.3
torchaudio==2.6.0+cu118
